@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  font-family: Roboto;
}
body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 333px;
  height: 413px;
  border-radius: 16px;
  border: 1px solid black;
  overflow: hidden;
}
header {
  border-bottom: 1px solid black;
  background-color: #f4f4f4;
  height: 60px;
  display: flex;
  align-items: center;
  input {
    border: none;
    background-color: #f4f4f4;
    font-size: 20px;

    height: 100%;
  }
  span {
    margin: 10px;
  }
}
main {
  width: 100%;
  height: calc(100% - 60px);
  padding-top: 16px;
  background-color: #4b4b4b;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
  .product {
    display: flex;
    justify-items: flex-start;
    flex-direction: row;
    align-items: center;
    margin: 0 16px;
    gap: 16px;
    p {
      font-size: 20px;
      color: #f4f4f4;
      margin: 0;
    }
  }
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    background-color: #f4f4f4;
  }
}
